/* 
px quer dizer pixel
right quer dizer direita
height quer dizer altura
width quer dizer largura
*/

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
}

html,
body {
  height: 100%;
  overflow-y: hidden; /*para que não tenha scroll-bar na página*/
  overflow-x: hidden;
}

header {
  height: 200px;
  padding: 20px 0;
}

.logo {
  width: 50%;
}

.menu {
  padding-top: 30px;
  width: 50%;
  text-align: right;
}

.menu a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-right: 15px;
}

section.home {
   /* height: calc(100% - 200px); */
  /* position: relative; */
  justify-content: center;
  display: flex;

}

/* .extras {
  position: absolute;
  bottom: -50px;
  right: -50px;
  width: 700px;
  height: 1000px;
  border-radius: 50%;
  background-color: green;
} */
